---
import type { Post } from '#pods/post-collection/post-collection.model.ts';
import Header from '#pods/post/components/header.astro';
import Body from './components/body.astro';


interface Props {
  postEntry: Post;
}

const { postEntry } = Astro.props;

const likeCount = 6;

const postContent = {
    backButton: 'Go back',
    published: 'Publicado el',
    minRead: 'min read',
};
---



<section>
    <Header
      gobackText={postContent.backButton}
      publishedText={postContent.published}
      date={postEntry.date}
    />
    <Body entry={postEntry} />
</section>

  
