---
import ArrowLeftIcon from "@assets/icons/arrow-left.svg";

interface Props {
  gobackTexyt: string;
  publishedText: string;
  date: string;
}
---

<header class="flex items-start justify-between gap-5">
    <a href="/" class="hover:text-primary-600"></a>
</header>